<p id="notice"><%= notice %></p>

<h1>
  <%= @book.name %>
  <div class="btn-group pull-right">
    <%= link_to 'Edit', edit_book_issue_path(@book, @issue), class: "btn" %>
    <%= link_to 'Destroy', book_issue_path(@book, @issue), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
  </div>
</h1>

<%= image_tag @issue.cover_image_url, class: "pull-right" %>

<p>
  <strong>Book:</strong>
  <%= link_to @book.name, book_path(@book) %>
</p>

<p>
  <strong>Number:</strong>
  <%= @issue.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @issue.price %>
</p>
