<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @issue.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>Cover image url:</strong>
  <%= @issue.cover_image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @issue.price %>
</p>

<%= link_to 'Edit', edit_book_issue_path(@book, @issue) %> |
<%= link_to 'Back', book_issue_path(@book, @issue) %>
