<%= simple_form_for(@book) do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Product</legend>

    <%= f.input :name %>
    <%= f.input :cover_image_url %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', books_path(@book), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
