<p id="notice"><%= notice %></p>

<h1>
  <%= @book.name %>
  <div class="btn-group pull-right">
    <%= link_to 'Edit', edit_book_path(@book), class: "btn" %>
    <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
  </div>
</h1>

<p><%= pluralize(@book.issues.count, 'Issue') %></p>

<p><%= number_to_currency(@book.issues.sum(:price)) %> Total</p>

<div id="book_<%= @book.id %>_issues">
  <% @book.issues.in_groups_of(4, false) do |row_issues| %>
    <div class="row-fluid">
      <% row_issues.each do |issue| %>
        <div class="span3">
          <%= div_for issue do %>
            <h4><%= issue.title %></h4>
            <%= link_to book_issue_path(issue.book, issue) do %>
              <%= image_tag issue.cover_image_url %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<hr>

<%= simple_form_for([@book, @book.issues.new]) do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Product</legend>

    <%= f.input :number %>
    <%= f.input :title %>
    <%= f.input :cover_image_url %>
    <%= f.input :price %>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', books_path(@book), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
